*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    min-height: 100vh;
    background-color: #fcfaf1;
}
body,.time,.leftside,.Rightside, .date,.day{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Rightside{
 flex-direction: column;
}
.digitalClock{
    background-color: #000;
    color: #fafafa;
    padding: 20px 40px;
    width: 425px;
    border-radius: 20px;
    box-shadow: 0 0 5px 10px grey;
}
#hours{
    font-size: 6rem;
    font-weight: 600;
}
#dots{
    font-size: 3rem;
    font-weight: 800;
    margin-left: 16px;
    margin-right: 20px;
}
#Minutes{
    font-size: 4rem;
    font-weight: 600;
}
#seconds{
font-size: 1.6rem;;
font-weight: 600;
;
}
#ampm{
    font-size: 1.4rem;
    font-weight: 600;
    color: yellow
}
.Rightbuttom{
margin-left: 62px;
transform: translateY(-15px);
}
#dd,#ddmmyy{
    font-size: 1.9rem;
    font-weight: 400;
}
